@using Sistemas_Distribuidos.Models.Hg
@using Sistemas_Distribuidos.Services

@model List<CorretoraModel>

@{
    ViewData["Title"] = "Bitcoin";

    // Lado servidor: formata o valor vindo dos controller
    // Tenta sempre converter em real quando a moeda vinda é dolar
    string FormatarValor(CorretoraModel item)
    {
        if (item.FormatMoeda == "BRL") return $"BRL {item.Last.ToString("N2")}";
        if (item.FormatMoeda != "USD") return $"{item.FormatMoeda} {item.Last.ToString("N0").Replace(".", ",")}";

        // tentar converter o dolar pra real
        float? convert = HgAPI.ConverterDolarPraReal(item.Last);

        // se não der
        if (convert == null) return $"USD {item.Last.ToString("N0").Replace(".", ",")}";

        // se der
        return $"BRL {(convert ?? 0f).ToString("N2")}";
    }
}

<div class="text-center">
    <label id="teste1" class="mb-3 p-2 fs-4">Bitcoin nas principais corretoras</label>

    <div class="accordion" id="accordion">

        <!-- Se vier um model -->

        @if (Model != null) {

            <!-- Para cada corretora na lista, cria um item na lista da página -->

            @foreach (CorretoraModel item in Model)
            {
                <div class="accordion-item">
                    <div class="accordion-header" id="heading@(item.Tag)">

                        <div id="@item.Tag" class="divHeadItem accordion-button collapsed p-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapse@(item.Tag)" aria-expanded="false" aria-controls="collapse@(item.Tag)">

                            <div class="col">
                                <label class="fw-bold fs-5">@item.Name</label>
                                <p class="text-secondary mb-0" style="font-size: smaller;">Última atualização: @(item.UpdateAt.Hour):@(item.UpdateAt.Minute)</p>
                            </div>

                            <div class="col text-center">
                                @if (item.Variation > 0.1)
                                {
                                    <label class="text-success fs-5">+@(item.Variation)%</label>
                                }
                                else if (item.Variation < -0.1)
                                {
                                    <label class="text-danger fs-5">@(item.Variation)%</label>
                                } else
                                {
                                    <label class="text-secondary fs-5">@(item.Variation)%</label>
                                }
                            </div>

                            <div class="col text-end">
                                <label id="value@(item.Tag)" valor="@item.Buy" class="fw-bold fs-5 mx-2">@FormatarValor(item)</label>
                            </div>
                        </div>
                    </div>

                    <div id="collapse@(item.Tag)" class="accordion-collapse collapse" aria-labelledby="heading@(item.Tag)" data-bs-parent="#accordion">
                        <div class="accordion-body">
                            <label>Em breve</label>
                        </div>
                    </div>

                </div>
            }
        }
    </div>
</div>